/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos */

@import url(//db.onlinewebfonts.com/c/1a045963159927274c92b0444fb83c17?family=Avenir);

body{
    color: #f9f9f9;
    background-color: #040714;
    font-size: 16px;
    font-family: Avenir Roman,sans-serif;
    /* @font-face {font-family: "Avenir"; src: url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.eot")}; */
}

main .primeira-secao{
    width: 100%;
    height: 120vh;
    background-image: url("../img/MLP_HERO_BR_&_ROLA_Desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bnt-entrar{
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    color: #f9f9f9;
    background-color: rgba(0,0,0,.6);;
    font-size: 15px;
    letter-spacing: 1.2px;
    padding: 10px 15px;
    margin: 16px 36px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;  
}

.div-hero{
    width: 100%;
    height: 100vh;
    padding: 96px 40px 96px 40px;
    margin-left: 0;
    margin-right: auto;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.logo-disney{
    width: 42%;
    max-width: 160px;
    margin-bottom: 30px;
}

.div-header-logo{
    color: #f9f9f9;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 40px;
}

.header-logo{
    margin-bottom: 10px;
}

.div-content-precos-col{
    display: flex;
    flex-direction: column;
    /* border: 1px solid tomato; */
}

.div-content-precos{
    max-width: 642px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    
}

.div-content-precos-side{
    width: 48%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
}

.div-valor-por-mes{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.div-valor-por-mes h3{
    font-size: 28px;
    font-weight: 600;
}

.div-valor-por-mes h3 span{
    font-size: 14px;
    font-weight: 400;
}

.opacity-content-preco{
    opacity: 0.7;
}

.div-valor-por-mes span{
    align-self: flex-end;
    
}

.span-aviso-teste-gratis{
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 400px;
    margin-bottom: 5px;
}

.btn-teste-gratis{
    background-color: #0063e5;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 20px 14px;
    box-sizing: border-box;
    
}

.div-content-precos-col h4{
    font-size: 11px;
    font-weight: 400;
}

.div-logos-empresas img{
    position: absolute;
    max-width: 642px;
    height: 35px;
    bottom: 25px;
    left: 40px;
    z-index: 1;
}

main .segunda-secao{
    width: 100%;
    height: 100vh;
    /* border: 1px solid tomato; */
    box-sizing: border-box;
}

.div-secao-telas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px;
    box-sizing: border-box;
}


.div-telas, .div-content-telas{
    width: 50%;
    height: 100%;
    /* border: 2px solid pink; */
}

.div-telas img{
    width: 100%;
}

.div-content-telas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 58px;
}

h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

p {
    color:hsla(0,0%,75.3%,.8);
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 24px;
}

main .terceira-secao,
main .quinta-secao{
    width: 100%;
    padding: 80px 36px;
    /* border: 1px solid tomato; */
    box-sizing: border-box;
    text-align: center;
}

.div-content-lista-filme{

    width: 100%;
    /* border: 2px solid green; */
    box-sizing: border-box;
}

.lista-filmes-originais{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.lista-filmes-originais li{
    width: 32%;
    /* border: 2px solid yellow; */
    border-radius: 4px;
    box-sizing: border-box;
    margin: 12px 0;

    
}
.lista-filmes-originais li img{
    width: 100%;
    
}

.quarta-secao{
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.div-secao-leao{
    width: 100%;
    max-width: 1440px;
    /* border: solid 3px gray; */
    padding: 0 36px;
    box-sizing: border-box;

}
.div-secao-leao img{
    width: 100%;
    
}

.div-baixe-filmes-serie{
    position: absolute;
    left: 52%;
    top: 38%;
}

.sexta-secao{
    width: 100%;
    /* border: 1px solid tomato; */
    box-sizing: border-box;
}

.div-caixa-pai-plataformas{
    width: 100%;
    padding: 80px 36px;
    text-align: center;
    /* border: 1px solid green; */
}

.div-caixa-filho-plataformas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-caixa-filho-plataformas .div-caixa-unidade-plataformas{
    width: 25%;
    /* border: hotpink 1px solid; */
}

.div-caixa-filho-plataformas .div-caixa-unidade-plataformas img{
    width: 100%;
}

.div-caixa-filho-plataformas .div-caixa-unidade-plataformas h3{
    margin: 24px 0;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
}

.div-caixa-filho-plataformas .div-caixa-unidade-plataformas ul li{
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 1.5;
    color: hsla(0,0%,75.3%,.8);
}

footer{
    padding: 26px 8px;
    /* border: 1px solid red; */
}

.div-footer-content{
    width: 100%;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-footer-content img{
    width: 80px;
    margin-bottom: 4px;
}

.div-list-info{
    width: 100%;
    margin-bottom: 6px;
}

.list-info-nao-ordenada{
    text-decoration: none;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

.list-info-nao-ordenada li{
    padding: 8px 16px;
    font-size: 12px;
    color: hsla(0,0%,75.3%,.8);
}

.list-info-nao-ordenada li a{
    text-decoration: none;
    font-size: 12px;
    color: hsla(0,0%,75.3%,.8);
}

.list-info-nao-ordenada li a:hover{
    text-decoration: none;
    font-size: 12px;
    color: #f9f9f9;
}

.footer-direitos-autorais{
    font-size: 12px;
    color: hsla(0,0%,75.3%,.8);
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 20px;
}




